<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
</head>
<body>
    <footer>
        <p>¡Contáctanos!</p>
        <div>
            <ul>
                <li>Facebook</li>
                <li>WhatsApp</li>
                <li>Instagram</li>
                <li>Correo</li>
              </ul>
        </div>
        <div>
            <p>Más información</p>
            <ul>
                <li>Nosotros</li>
                <li>Términos y condiciones</li>
                <li>Ayuda</li>
            </ul>
        </div>
        <p>Copyright</p>
    </footer>
</body>
</html>