<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
</head>
<body>
    <footer>
        <div class="footer-image">
            <div class="contactanos-titulo">
                <p>¡Contáctanos!</p>
            </div>
            <div class="contenedor-redes">
                <div class="red">
                    <p>FACEBOOK</p>
                    <i class="fa-brands fa-facebook"></i>
                </div>
                <div class="red">
                    <p>INSTAGRAM</p>
                    <i class="fa-brands fa-instagram"></i>
                </div>
                <div class="red">
                    <p>WHATSAPP</p>
                    <i class="fa-brands fa-whatsapp"></i>
                </div>
                <div class="red">
                    <p>CORREO</p>
                    <i class="fa-regular fa-envelope"></i>
                </div>
            </div>
            <div class="informacion">
                <p>Más información</p>
                <ul>
                    <li>Nosotros</li>
                    <li>Términos y condiciones</li>
                    <li>Ayuda</li>
                </ul>
            </div>
            <div class="copyright">
                <p>Copyright <i class="fa-regular fa-copyright"></i></p>
            </div>
            
        </div>
    </footer>
</body>
</html>