<!DOCTYPE html>
<html>
<head>
    <%- include('head') %>
</head>
<body>
    <header>
        <nav>
            <div>
                <i class="fa-solid fa-magnifying-glass"><input type="text" name="buscador" id=""></i>
                <!-- filtrar busqueda -->
                <div>
                    <p>Filtrar búsqueda:</p>
                    <p>Categorías</p>
                    <ul>
                        <li>
                            
                        </li>
                    </ul>
                </div>
            </div>
            <a href="index.ejs"><img src="/images/logo.png" alt="logo"></a>
            <i class="fa-solid fa-bars"></i>
        <!-- nav para loguearse o registrarse -->
        <nav>
            <ul>
                <li>Registrarse</li>
                <li>Ingresar</li>
            </ul>
        </nav>
        <!-- nav con todas las categorías -->
        <nav>
            <ul>
                <li><a href="">Categorías</a></li>
                <li><a href="">Categorías</a></li>
                <li><a href="">Categorías</a></li>
                <li><a href="">Categorías</a></li>
                <li><a href="">Categorías</a></li>
            </ul>
        </nav>
        <!-- divisor del header con el main -->
        <div>
            <p>Un pedacito de nosotros en...</p>
        </div>
    </header>
</body>
</html>