<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/header') %>
    <!-- carousel -->
     <main>
      <div data-carousel-father>
        <div>
          <a href=""><img src="" alt=""></a>
        </div>
        <div>
          <a href=""><img src="" alt=""></a>
        </div>
        <div>
          <a href=""><img src="" alt=""></a>
        </div>
      </div>
      <!-- fin del carousel, sigue la sección de destacados -->
      <p>DESTACADOS</p>
      <div class="flex justificontent-between">
        <p></p>
      </div>
      <!-- div padre de las cards -->
      <div data-cards-father>
        <div class="card">
          <img src="" alt="">
          <p>40% OFF</p>
          <p>Título</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
          <p>$00000</p>
        </div>
        <div class="card">
          <img src="" alt="">
          <p>40% OFF</p>
          <p>Título</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
          <p>$00000</p>
        </div>
        <div class="card">
          <img src="" alt="">
          <p>40% OFF</p>
          <p>Título</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
          <p>$00000</p>
        </div>
        <div class="card">
          <img src="" alt="">
          <p>40% OFF</p>
          <p>Título</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
          <p>$00000</p>
        </div>
        <div class="card">
          <img src="" alt="">
          <p>40% OFF</p>
          <p>Título</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
          <p>$00000</p>
        </div>
        <div class="card">
          <img src="" alt="">
          <p>40% OFF</p>
          <p>Título</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
          <p>$00000</p>
        </div>
      </div>
    </main>
  </body>
  <footer>
    <%- include('partials/footer') %>
  </footer>
</html>
