<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <form action="" method="post">
            <p>Correo o número telefónico</p>
            <input type="text">
            <p>Contraseña</p>
            <input type="password">
            <div class="flex justificontent-between">
                <p ></p>
            </div>
            <button>Entrar</button>
        </form>
        <p>Regístrate <a href="">aquí</a></p>
    </main>
    <%- include('partials/footer') %>
</body>
</html>