body{
    .desktop-image{
        background-image: url(../images/desktop.png);
        background-size: 250% 110%;
        height: 200vh;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: scroll;
    }
    
}

.fa-magnifying-glass{
    padding: 20px 0 0 20px;
    font-size: 20px;
    input{
        display: none;
    }
}

.fa-bars{
    padding: 20px 20px 0 0px;
    font-size: 20px;
}

/* secciones ocultas hasta toca el burger button y el search bar */

.filter-busqueda{
    display: none;
}

.categorias-menu{
    display: none;
}



.menu{
    display: none;
}

/* estilos de la barra de navegación */

.primer-nav{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 150px;
    height: 150px;
}

.divisor{
    background-color: #f9b695;
    p{
        text-align: center;
        padding: 10px;
        font-weight: bold;
    }
}
