/* carrousel inspirado en  https://www.youtube.com/watch?v=McPdzhLRzCg*/

.envolver-slider{
    position: relative;

}

.slider{
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    img{
        flex: 1 0 100%;
        scroll-snap-align: start;
        object-fit: cover;
    }
}

.slider-nav{
    display: flex;
    justify-content: center;
    column-gap: 10px;
    position: absolute;
    bottom: 20px;
    left: 45%;
    a{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #f9b695;
    }
}

/* sección destacados */

.destacados-titulo{
    text-align: center;
    font-weight: bold;
    padding: 10px 0 10px 0;
    font-size: 20px;
    letter-spacing: 2px;
    color: #f9b695;
    text-shadow: 1px 1px 3px #BB614D;
}

/* cards */


.data-cards-father{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.card{
    width: 45%;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 20px;
    box-shadow: 1px 4px 10px 0.1px #000;
    background: radial-gradient(circle, #F6D8D4 0%, #f9b695 100%);
    img{
        width: 90%;
        padding-bottom: 15px;
        margin: 0 auto;
    }
}

.descuento{
    position: absolute;
    bottom: 30%;
    left: 55%;
    font-weight: bold;
    font-size: 15px;
    color: #F6D8D4;
    padding: 4px;
    border-radius: 5px 5px 0px 0px;
    background-color: #BB614D;
}

.contenido-card{
    background-color: #BB614D;
    border-radius: 0px 0px 10px 10px;
    .titulo-producto{
        color: #F6D8D4;
        font-weight: bold;
        margin-top: 10px;
        text-align: center;
    }
    .detalle{
        margin-bottom: 25px;
        color: #F6D8D4;
        font-size: 15px;
        text-align: center;
        padding-bottom: 10px;
    }
    .precio{
        padding: 4px;
        color: #BB614D;
        font-weight: bold;
        font-size: 20px;
        position: absolute;
        left: 54%;
        top: 90%;
        background-color: #f9b695;
        border-radius: 10px;
        text-shadow: 1px 1px 5px #F6D8D4;
    }
}