.form-register{
    input{
        display: flex;
        flex-direction: column;
        margin: 10% 0% 0% 20%;
        background-color: #BB614D;
        border: none;
        border-radius: 20px;
        padding: 10px 30px 10px 30px;
        color: #f9b695;
    }
    button{
        display: flex;
        background-color: #f9b695;
        color: white;
        font-weight: bold;
        padding: 10px;
        margin: 5% 0% 5% 35%;
        border: none;
        box-shadow: 5px 5px 10px 0.1px #BB614D;
        border-radius: 5px;
        color: white;
    }
}
input:focus {
    outline: none;
    border: 2px solid #F9B695;
}

.form-register input::placeholder {
    color: #f9b695 !important; /* Para el color del texto del placeholder */
}

.redireccion{
    text-align: center;
    a{
        color: #f9b695;
        font-weight: bold;
        text-decoration: none;
    }
}