<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <form action="" method="post">
            <input type="text" name="nombre" id="nombre" placeholder="Nombre">
            <input type="text" name="apellido" id="apellido" placeholder="Apellido">
            <input type="email" name="email" id="email" placeholder="Correo electrónico">
            <input type="number" name="numero" id="numero" placeholder="Número telefónico">
            <input type="password" name="password" id="password" placeholder="Contraseña">
            <input type="password" name="password2" id="password2" placeholder="Confirmar contraseña">
            <button>CONFIRMAR</button>
        </form>
        <p>¿Ya tienes una cuenta? Inicia sesión <a href="/login.ejs">aquí</a></p>
    </main>
    <%- include('partials/footer') %>
</body>
</html>