<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <div class="desktop-image">
            <%- include('../partials/header') %>
            <div class="productAddContainer">
                <h1>Agregar Producto</h1>
                <form action="/products/add" method="POST">
                    <div class="form-group">
                        <label for="productName">Nombre del Producto:</label>
                        <input type="text" id="productName" name="productName" required>
                    </div>
                    <div class="form-group">
                        <label for="productDescription">Descripción:</label>
                        <textarea id="productDescription" name="productDescription" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="productPrice">Precio:</label>
                        <input type="number" id="productPrice" name="productPrice" required>
                    </div>
                    <div class="form-group">
                        <label for="productImage">Imagen del Producto:</label>
                        <input type="file" id="productImage" name="productImage" accept="image/*">
                    </div>
                    <button type="submit">Agregar Producto</button>
                </form>
            </div>
        </div>
    </body>
</html>